main {
  background-color: lightgray
}

.game {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 95vh;
}

table, tr {
  border: 5px solid;
  border-collapse: collapse;
  width: 40vh;
  align-items: center;
}

td  {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
