main {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.introtext {
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 95vh;
}

table {
  border: 5px solid;
  border-collapse: collapse;
  width: calc(100vw / 5 - 20px);
  align-items: center;
}

tr {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  width: calc(100% / 5);
}

td  {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
